.main {
    position: absolute;
    top: 25%;
    left: 25%;

}

.allbuttons {
    background-color: aqua;
    text-align: center;
}

.select {
    width: 100em;
    height: 50em;
    background-color: #73baff;
    position: relative;
    top: -6em;
    left: -22em;
}

h2 {
    text-align: center;
}

body {
    background-color: lightblue;
}

.logo {
    position: relative;
    width: 50em;
    height: 4em;
    top: -20em;
    left: -15em;
}

#logo {
    transform: scale(0.5);
    
}

#call-to-action {
    font-size: 40px;
    color:red;
}

.scoreboard {
    position: relative;
}

.current-game {
    font-size: 20px;
    text-align: center;
}